$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// Color Scheme
$bg-body: $white;
$bg-accent: $gray-100;
$bg-accent-inverted: $gray-900;

$body-color: $gray-800;
$color-muted: $gray-700;
$color-accent: #3A89C9;

$primary: #DA4453;
$color-success: #94BA65;
$color-info: #9CC4E4;
$color-warning: #F0AD4E;
$color-danger: #EB3729;

$color-head: #fff;
$color-titles: #454545;
$color-headings: #454545;
$color-links: $primary;

$bg-head: $gray-900;

// Typography
$font-family-sans-serif: "Open sans", helvetica, "Helvetica Neue", arial;
$font-head: Raleway, "Open sans", helvetica, "Helvetica Neue", arial;
$font-titles: Raleway, "Open sans", helvetica, arial;

$font-size-base: 1rem;
$line-height-base: 1.5;

$headings-font-weight: 400;
$h1-font-size: $font-size-base * 3.5;
$h2-font-size: $font-size-base * 2.2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem;
$display1-weight: 300;
$display2-weight: 300;
$display3-weight: 300;
$display4-weight: 300;

// Various
$radius: 3px;

// Navbar
$navbar-toggler-padding-y: .35rem;
$navbar-toggler-padding-x: .75rem;

// Spacing
$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3),
        6: ($spacer * 4),
        7: ($spacer * 5),
), $spacers);

// BUTTONS
$input-btn-padding-y-lg: .65rem;
$input-btn-padding-x-lg: 3.8rem;
