// Section: CTA
.section-cta {
  .btn-action {
    top: 50%;
    margin-top: -29px;
    padding: 16px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    @media (max-width: 480px) {
      margin-top: 20px;
    }
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
    span {
      display: block;
      margin-top: 20px;
      font-size: 36px;
      font-weight: 300;
      text-transform: none;
      line-height: 40px;
    }
  }
  p {
    font-size: 18px;
    line-height: 1.5em;
  }
}

.cta-simple {
  display: table;
  background: $bg-accent;
  width: 100%;
  border-radius: $radius;
  box-sizing: border-box;
  p {
    display: table-cell;
    padding: 26px 30px;
    vertical-align: middle;
  }
  p:first-child {
    font-size: 1.4em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }
  p + p {
    text-align: center;
  }
  &.bordered {
    border: 1px solid darken($bg-accent, 15%);
    background: $bg-body;
    p + p {
      border-left: 1px solid darken($bg-accent, 15%);
      background: $bg-accent;
    }
  }
  @media (max-device-width: 480px) {
    display: block;
    p {
      display: block;
      padding: 20px 30px;
      text-align: center;
    }
    &.bordered p + p {
      border-left: 0 none;
    }
  }
}
