.footer {
  background: #232323;
  padding: $spacer*2.5 0 0 0;
  font-size: $font-size-sm;
  color: #999;

  a {
    color: #ccc;
  }

  a:hover {
    color: #fff;
  }

  &__widget {
    margin-bottom: 30px;
  }

  &__widget-title {
    font-size: 17px;
    font-weight: bold;
    color: #ccc;
    margin: 0 0 20px;
  }
  .entry-meta {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 0 35px 0;
    padding: 2px 0;
    color: #888888;
    font-size: 12px;
    font-size: 0.75rem;
    a {
      color: #333333;
    }
    .meta-in {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
    }
  }
  .follow-me-icons {
    font-size: 30px;
  }
  .follow-me-icons i {
    float: left;
    margin: 0 10px 0 0;
  }
}

.footer-extra {
  background: #191919;
  padding: 15px 0;
  color: #777;
  font-size: 12px;

  a {
    color: #aaa;
    &:hover {
      color: #fff;
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;

    .menu-item {
      display: inline;
      & + .menu-item {
        margin-left: 1rem;
        position: relative;
        &:after {
          content: ' ';
          position: absolute;
          width: 1px;
          height: 1rem;
          left: -.5rem;
          top: .1rem;
          background: $white;
          opacity: .4;
        }
      }
    }
    .nav-link {
      padding: 0;
    }
  }
}
