.main-content {
  @extend .col-lg-8;
  @extend .mb-5;
}

.sidebar {
  @extend .col-lg-4;
}

// Content
p:last-child {
  margin-bottom: 0;
}

.jumbotron {
  padding: 50px 0 60px;
}

.panel-box {
  background: $bg-accent;
  border-radius: $radius;
  border: 0 none;
  .panel-thumbnail {
    border: 0 none;
  }
  .panel-thumbnail img {
    border-radius: $radius $radius 0 0;
  }
}

.btn-rounded {
  border-radius: 20px;
}


// Helpers

// Toggler (monthly/yearly pricing tab control for example)
.toggler {
  li {
    margin: 0 0 7px 0;
  }
  li.active {
    display: none;
  }
}

.inline-toggler {
  li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  li.active {
    display: none;
  }
}



// ELEMENTOR
.elementor-section {
  margin: 25px 0;
  @include media-breakpoint-up(sm) {
    margin: $spacer*4 0 $spacer*2 0;
  }
}

.elementor-column-gap-default>
.elementor-row>
.elementor-column>
.elementor-element-populated {
  padding-top: 0;
  padding-bottom: 0;
}
