.navbar {
  background: $white;
  margin-bottom: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);

  &.ontop-now {
    box-shadow: none;
    background: transparent;
    padding-top: 15px;

    .navbar-nav > li > a {
      color: rgba($white, .8);
    }
  }

  .navbar-toggle {
    border-color: transparent;
    background: transparent;
    border-radius: $radius;
    &:hover {
      background: transparent;
      border-color: transparent;
    }
    .icon-bar {
      background: $color-text;
    }
  }

  @media (max-width: 480px) {
    .navbar-collapse.collapse.in {
      background: #fff;
    }
  }

  .navbar-nav {
    > li > a {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
    }
    > li > a,
    > .open ul > a {
      color: lighten($color-text, 10%);
      background: none;
    }

    > li > a:hover,
    > li > a:focus,
    > .open > a:hover,
    > .open > a:focus,
    > .active > a {
      background: none;
      color: $color-action;
    }

    .dropdown-menu {
      font-size: 13px;
      border-radius: 0px;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      > li > a {
        color: $color-text;
        padding: 7px 20px;
      }
      > li > a:hover,
      > li > a:focus,
      > .active > a:hover,
      > .active > a,
      > .active > a:focus {
        background: none;
        color: $color-action;
      }
    }
  }

  .navbar-brand {
    font-size: 24px;
    color: $color-text;
    height: auto;

    img {
      margin-top: -8px;
    }
  }
}

.navbar-nav .btn {
  border: 1px solid rgba(0, 0, 0, .2);
  margin-left: 5px;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:focus, &:hover {
    border: 1px solid rgba(0, 0, 0, .6);
  }
}

.navbar-collapse {
  border: 0 none;
  border-top: 0 none;
  box-shadow: none;

  ul {
    @include media-breakpoint-down(md) {
      text-align: center;
      width: 100%;
      padding-bottom: 10px;
    }

    .btn {
      @include media-breakpoint-down(md) {
        max-width: 50%;
        margin: 0 auto;
      }
    }
  }
}
