.navbar {
  background: $white;
  margin-bottom: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);

  &.ontop-now {
    box-shadow: none;
    background: transparent;
    padding-top: 15px;

    .navbar-nav {
      > li > a,
      > .open ul > a {
        color: rgba($white, .8);
      }

      > li > a:hover,
      > li > a:focus,
      > .open > a:hover,
      > .open > a:focus,
      > .current-menu-item > a {
        color: $white;
      }
    }
  }

  .navbar-nav {
    > li > a {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      color: $body-color;
    }
    > li > a,
    > .open ul > a {
      background: none;
    }

    > .current-menu-item > a {
      position: relative;
      color: $primary;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -2px;
        left: 12%;
        width: 76%;
        height: 4px;
        background: $primary;
      }
    }

    .dropdown-menu {
      font-size: 13px;
      border-radius: 0px;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      > li > a {
        color: $body-color;
        padding: 7px 20px;
      }
      > li > a:hover,
      > li > a:focus,
      > .active > a:hover,
      > .active > a,
      > .active > a:focus {
        background: none;
        color: $primary;
      }
    }
  }

  .navbar-brand {
    font-size: 24px;
    color: $body-color;
    height: auto;

    img {
      margin-top: -8px;
    }
  }

  &-toggler {
    font-size: 1rem;
    color: white;
    line-height: 1;
    border: 1px solid $white;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 100;

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.navbar-nav .btn {
  border: 1px solid rgba(0, 0, 0, .2);
  margin-left: 5px;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:focus, &:hover {
    border: 1px solid rgba(0, 0, 0, .6);
  }
}

.navbar-collapse {
  @include media-breakpoint-down(md) {
    @include transition($transition-base);
    position: absolute;
    display: block;
    background: rgba($black, .9);
    opacity: 0;
    right: -250px;
    width: 233px;
    height: 100vh;
  }

  &.show {
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 10;
    padding: 80px 15px 15px 15px;
    text-align: right;
  }
}


